<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="GoogleSuiteInXml">
<test name="GoogleTestInXml">
    <classes>
        <class name="org.SeleniumHq.GoogleGmailTest"></class>
    </classes>
</test>
    <test name="Amazon">
        <classes>
            <class name="org.SeleniumHq.Amazon"></class>
        </classes>
    </test>
</suite>